body {
	background-color: #9da1aa;
	font-family: Tahoma, Verdana;
}

.grid-container {
	display: grid;
	grid-template-columns: minmax(auto, 680px) minmax(auto, 150px);
	grid-template-rows: minmax(100px, 680px) minmax(10px, 30px);
	justify-content: center;
}

.grid-item1 {
	grid-row: 1;
	grid-column: 1 / 3;
}

#chat {
	background-color: #fff;
	width: 100%;
	height: 99%;
	box-sizing: border-box;
	overflow: auto;
}

.grid-item2 {
	grid-row: 2;
	grid-column: 1;
}

#message {
	width: 99%;
	height: 95%;
	border: none;
	outline: none;
	box-shadow: none;
}

.grid-item3 {
	grid-row: 2;
	grid-column: 2;
}

#send {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-size: 11px;
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  text-align: center;
  outline: none;
  padding: 4px;
  cursor: default;
}

 .grid-item4 {
	background: #008080;
	transform: translate(-8px, -6px);
	width: 102%;
	height: 102%;
	grid-row: 1 / 3;
	grid-column: 1 / 3;
	z-index: -1;
} 

#send:enabled {
  color: #070707;
}
#send:disabled {
  color: #818181;
  text-shadow: 1px 1px #fff;
}
#send:active:enabled {
  box-shadow: 1px 1px 0 0 #000 inset;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}

span {
	color: red;
}

ul, li {
	list-style-type: none;
	padding-left: 5px;
	margin: 0;
}